#temp{
    font-size:30px;
    text-align:center;
    
}
#box{
    margin-top:25%;
    height:25%;
    width:50%;
    
    background-color:gray;
}
#createimage{
    height:50%;
    width:40%;
    margin-left:25%;
}